* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    background-color: olive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 30px;
}

.main-section {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;

}

.main-section h1 {
    font-size: 50px;
}

.main-section p {
    padding: 40px 30px 30px 30px;
    font-size: 20px;
}

#start-button {
    font-size: 30px;
}

#view-highscore {
    text-decoration: none;
    color: black;
}
